@import url(./resed.css);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,regular,500,600,700,800,300italic,italic,500italic,600italic,700italic,800italic&display=swap);

body {
    font-family: 'Open Sans', sans-serif;
}

/* --------header---------- */
/* Flexbox */
.header {
    width: 100%;
    height: 70px;
    background-color: #1d2124;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: white;
}

.header-logo {
    flex: 2;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.wrapper-icon {
    width: 70px;
    height: 70px;
    background-color: #1a1d20;
}

.header-icon {
    padding: 20px;
}

.logo-text {
    padding-left: 5px;
    font-size: 20px;
    font-weight: bold;
    text-transform: capitalize;
}

.header-menu-list {
    flex: 20;
    display: flex;
    justify-content: center;
}

.header-menu-link {
    margin: 0 20px;
    font-size: 15px;
    text-transform: uppercase;
    transition: color 0.75s ease;
}

.header-menu-link:hover {
    color: #18b4cf;
}

.header-search-icon {
    background-color: #1a1d20;
    padding: 5px;
}

/* --------banner section---------- */
.banner {
    background-image: url(../img/header-bg.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 25% 75%;
    max-width: 100%;
    height: 355px;
    background-size: cover;
}

.banner__overlay {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
    padding: 10px 0;
}

.banner-title {
    font-size: 27px;
    text-transform: uppercase;
    text-align: center;
    padding-top: 120px;
    color: white;
}

.banner__action-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 10px;
}

.banner__action-item {
    width: 170px;
    height: 55px;
    font-size: 18px;
    font-weight: 500;
    border: 1px solid transparent;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.banner__action-item:hover {
    color: #1a1d20;
    transition: color 1s ease;
}

.subscribe {
    background-color: #89ca62;
    margin-right: 20px;
}

.articles {
    background-color: #14b9d5;
}

/* --------popular post section---------- */
.pop-posts {
    background-color: #f2f2f2;
    height: 1028px;
}

.pop-posts-title {
    padding: 64px 0 52px 0;
}

.title {
    color: #18b4cf;
    font-size: 27px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

.posts {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    height: 850px;
}

.post-title {
    height: 60px;
    font-size: 18px;
    font-weight: bold;
    color: black;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.post {
    display: flex;
    flex-direction: column;
    width: 370px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.post-1 {
    order: 1;
}

.post-2 {
    order: 2;
}

.post-3 {
    order: 3;
}

/* --------popular clients section---------- */
/* CSS Grid */
.popular-clients {
    background-image: url(../img/parallax-bg.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: top;
    max-width: 100%;
    height: 590px;
    width: auto;
    padding: 180px 0;
}

.popular-clients-title {
    position: relative;
    font-size: 32px;
    font-weight: bold;
    color: white;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 60px;
    margin-bottom: 60px;
}

.popular-clients-title::after {
    content: "";
    position: absolute;
    display: block;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 2px;
    width: 60px;
    background-color: #14b9d5;
}

.brands {
    display: grid;
    grid-template-columns: repeat(4, 200px);
    grid-template-rows: 1fr;
    justify-items: center;
    align-items: center;
    justify-content: center;
    grid-gap: 1.5vw;
}

.brand-client {}

/* --------top rated article section---------- */
.blog {}

.blog-title {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    padding: 64px 0 52px 0;
}

.burger-icon {}

.burger-line {}

.blog-latespost {
    display: grid;
    max-width: 100%;
    grid-template-columns: repeat(7, 14.28%);
    grid-template-rows: 1fr;
    justify-items: stretch;
    justify-content: center;
}

.latespost {}

/* --------hot news section---------- */
.hot-news {
    display: grid;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

.hot-news__title {
    padding: 30px 0;
}

.hot-news__cards {
    display: grid;
    row-gap: 40px;
    margin: 0 11rem;
}

.first-row {
    display: grid;
    grid-template-columns: 2.5fr 0.75fr;
    grid-template-rows: 1fr;
    column-gap: 35px;
}

.card {
    background-color: #f9f7f7;
    color: #5b6469;
}

.big-post {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: stretch;
}

.card__img {
    width: 100%;
    height: 100%;
}

.card__details {
    display: grid;
    align-content: space-evenly;
    justify-items: end;
    margin: 20px;
}

.card__title {
    font-size: 18px;
    font-weight: bold;
    color: black;
    display: grid;
    align-items: center;
    justify-content: center;
    align-content: space-between;
}

.card__description {
    font-size: 14px;
    line-height: 1.5;
    text-align: right;
    margin-top: 25px;
}

.small-post {
    display: grid;
    grid-template-rows: 2fr 0.6fr;
    align-items: end;
}

.center-block {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1.5fr 1.5fr;
    column-gap: 60px;
    row-gap: 40px;
    align-items: center;
}

.last-row {
    display: grid;
    grid-template-columns: 0.75fr 2.5fr;
    grid-template-rows: 1fr;
    column-gap: 35px;
    margin-bottom: 70px;
}

/* --------footer---------- */
.footer {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 60% 15%;
    grid-gap: 20vw;
    align-items: center;
    justify-items: stretch;
    justify-content: space-between;
    height: 80px;
    background-color: #1d2124;
    padding: 0 20%;
}

.footer-copyright {
    font-size: 13px;
    color: white;
}

.footer-logo-image {
    height: 30px;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 0.4fr 0.4fr;
    justify-items: center;
}