@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap');
* {
    margin: 0;
    padding: 0;
    border: 0;
	box-sizing: border-box;
}
button {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
}

body {
    height: 100vh;
    background-color: rgb(30, 18, 4);
    color: white;
}

.main-wrapper {
    height: 90vh;
    width: 100%;
    padding: 3rem;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.images-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    width: 25vw;
    height: 90vh; 
}

.images-wrapper img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.image-to-show {
    transition: opacity 0.5s ease-in-out;
    opacity: 0;
    border: 1px solid transparent;
    border-radius: 3rem;
    box-shadow: 15px 17px 21px -5px rgba(118, 62, 17, 0.2);
    
}
.image-to-show.active{
    opacity: 1;
}
.button-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin-top: 2rem;
}
.stop-show,
.start-show {
    /* color: white; */
    margin-right: 1rem;
    cursor: pointer;
    padding: 0.5rem;
    border: 1px solid #81441f;
    border-radius: 1rem;
    background-color: #81441f;
}
.timer {
    border: 1px solid #81441f;
    border-radius: 1rem;
    background-color: #81441f;
    padding: 0.5rem;
}