@import url(./resed.css);

body {
  background-color: #ffffff;
  margin: 20px 100px;
  font-family: sans-serif;
  font-size: 1rem;
  line-height: 1.25;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.logo {
  font-size: 5rem;
  text-align: center;
  margin-bottom: 2rem;
}

.black {
  color: rgb(0, 0, 0);
}

.blue {
  color: #4bcaff;
}

.header-nav {
  width: 100%;
  background-color: #35444f;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-nav .tabs-title {
  padding: 25px 40px;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  color: #ffffff;
}

.header-nav .tabs-title:hover {
  background-color: #142b38;
  border-color: white;
}

/* -------------------------------- */
.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 3rem 0;
}

.side-menu {
  width: 15rem;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  border: 1px black solid;
  color: rgb(73, 88, 99);
}

.side-menu .tabs-title {
  text-align: center;
  width: 12.5rem;
  padding: 1.25rem;
}


.side-menu li:hover {
  color: black;
  background-color: #dcdcdc;

}

.tabs-content {
  margin: 0 2rem;
  width: 80%;
}

.text-wrapper {
  margin: 50px;
}

.tabs-text.active {
  display: block;
}

.tabs-text {
  line-height: 2rem;
  font-size: medium;
  text-align: center;
  display: none;
}

.tabs-text>span {
  font-size: 3rem;
  font-weight: 800;
  margin-bottom: 2rem;
}

.tabs-text img {
  width: auto;
  height: 15rem;
}

/* ------------------------------- */
footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1.25rem;
  height: 70px;
  background-color: #b4b7ba;
  margin: 0px 0px 30px 0px;
}

.footer_menu {
  display: flex;
  flex-direction: row;
  padding: 20px 0px 20px 20px;
}

.footer_menu li {
  margin-left: 30px;
  color: black;
}

.footer_menu li:hover {
  border-bottom: 1px solid #0083a9;
  color: #0083a9;
}

.copyright {
  font-size: 1.25rem;
  padding: 20px 40px 20px 40px;
}