* {
    margin: 0;
    padding: 0;
}
body {
    font-size: 1rem;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.container {
    background-color: #049b80;
    width: 70vw;
    height: 80vh;
    margin: 3rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
}
.input {
    height: 2rem;
    width: 15rem;
    padding: 0.5rem;
    border: 1px solid #963204;
    outline: 1px solid transparent;
    border-radius: 1rem;
}
.input:focus,
.input:focus-visible {
    outline: 1px solid #963204;
    border: 1px solid #963204;
}
.user-list {
    list-style: none;
    color: #963204;
    font-weight: 500;
    font-style: italic;
    margin: 1rem;
}
.user-list-item {
    padding: 0.5rem;
    max-height: 5rem; 
    overflow: hidden;
    transition: all ease 0.3s;
}
.hidden {
    opacity: 0;
    height: 0;
}